@use './config' as *;

.cart_sect {
  @include position(absolute, left, top, 0, 0);
  width: 100%;
  height: 100vh;
  background-color: #00000059;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease $trans_mid;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  .cart_wrapper {
    @include position(absolute, right, top, 70px, 50px);
    background-color: $bg_main;
    padding: 30px 20px;
    min-width: 200px;

    header {
      @include flex(flex-start, center);
      gap: 5px;
      margin-bottom: 10px;
    }

    .cart_items_wrapper {
      padding-block: 20px;
      @include flex(flex-start, flex-start, column);
      gap: 30px;
      width: 300px;
      max-height: 500px;
      overflow-y: auto;

      .cart_item {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        width: 100%;
        grid-template-rows: 130px;
        gap: 20px;

        .item_info {
          @include flex();
          flex-direction: column;
          justify-content: space-between;
          gap: 8px;

          .name {
            font-size: 1.6rem;
          }

          .price {
            font-size: 1.5rem;
          }

          p:not(.name) {
            font-size: 1.6rem;
            margin-bottom: 5px;
          }

          .size {
            .wrapper {
              @include flex();
              gap: 5px;

              .size_opt {
                font-size: 1.3rem;
                border: 1px solid $bg_sub;
                width: 20px;
                height: 20px;
                @include flex(center, center);

                &.active {
                  background-color: $bg_sub;
                  color: $bg_main;
                }
              }
            }
          }

          .color {
            .wrapper {
              @include flex();
              align-items: center;
              gap: 3px;
              margin-left: 1px;

              .clr_opt {
                padding: 1px;

                &.active {
                  border: 1px solid $clr_acc;
                }

                .clr_carrier {
                  width: 15px;
                  aspect-ratio: 1/1;
                  padding: 2px;
                  display: block;
                }
              }
            }
          }
        }

        .btns_wrapper {
          @include flex(space-between, center, column);
          font-size: 1.6rem;

          .op_btn {
            border: 1px solid $bg_sub;
            width: 25px;
            @include flex(center, center);
            height: 20px;
            font-size: 2rem;
          }
        }

        .img_wrapper {
          max-height: 100%;
          img {
            display: block;
            object-position: 0px 0px;
            // object-fit: contain;
          }
        }
      }

      .empty {
        font-weight: bold;
        opacity: 0.7;
      }
    }

    footer {
      .total {
        @include flex(space-between, center);
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 1.5rem;
      }

      .order_btn {
        text-align: center;
        background-color: $clr_acc;
        display: block;
        width: 100%;
        color: $clr_txt2;
        text-transform: uppercase;
        padding-block: 10px;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.1rem;

        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
          filter: grayscale(100%);
        }
      }
    }
  }
}
